files:
    "/etc/filebeat/filebeat.yml":
        mode: "000755"
        owner: root
        group: root
        content: |
            filebeat:
                prospectors:
                  - input_type: log
                    paths:
                      - "/var/log/web-1.log"
                    fields:
                      type: "applog"

                  - input_type: log
                    paths:
                      - "/var/log/nginx/access.log"
                    fields:
                      type: "accesslog"


            output:
                elasticsearch:
                    hosts: ["https://search-testesdomain-2al27gmq5oaxq4ufinxrm54wna.us-east-1.es.amazonaws.com:80"]
                    pipelines:
                      - pipeline: json-pipeline
                        when.equals:
                          fields.type: "applog"
                      - pipeline: accesslog-pipeline
                        when.equals:
                          fields.type: "accesslog"

commands:
  1_command:
     command: "curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-5.5.0-x86_64.rpm"
     cwd: /home/ec2-user
  2_command:
     command: "sudo rpm -ivh --replacepkgs filebeat-5.5.0-x86_64.rpm"
     cwd: /home/ec2-user
  3_command:
     command: "sudo /etc/init.d/filebeat start"
